nav {
    justify-content: space-between;
    align-items: center;
}

header {
    align-items: center;
    margin: 71px 100px 0px;
    display: flex;
    justify-content: space-between;
}


h1 {
    font-family: 'JetBrains Mono', monospace;
    font-size: 36px;
    font-style: normal;
    line-height: 40px;
    margin-bottom: 59px;
}

main {
    display: flex;
    align-items: center;
    width: 1092px;
    height: 283px;
    gap: 82px;
    padding: 200px 100px;
    margin: auto;
}

section p{
    font-size: 16px;
    line-height: 28px;
    color: #C2C2C2;
    text-align: center;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: #2F2E41;
    color: white;
    align-items: center;
}

ul  {
    display: flex;
    gap: 64px;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li a, footer a {
    text-decoration: none;
    color: white;
}

footer {
    text-align: center;
    margin-bottom: 23px;
    border-bottom: #00BFA6;
    bottom: 10%;
}

.cadeado {
    position: fixed;
    left: 20px;
    bottom: 20px;
}

span {
    color: #00BFA6;
}

.line {
    width: 568px;
    height: 0px;
    margin: 0px auto 27px;
    border: 1px solid #00BFA6;
}

.rodapé {
    position: fixed;
    left: 40%;
    bottom: 1%;
    text-align: center;
}





